{% extends 'layout.html' %} {% block title %}{{item["title"]}}{% endblock %} {%
block content %}
<div class="home-section">
  <h1>{{item["title"]}}</h1>
  <h2>{{item["subtitle"]}}</h2>
  {% if item["hasImage"] %} {% for src in item["imagePath"] %}
  <figure>
    <img src="{{url_for('static', filename='cards/pokemon/' + src)}}" />
  </figure>
  {% endfor %} {% endif %}
  <div>
    {% if hasAlreadySeen %}
    <p>Déjà trouvé</p>
    {% else %}
    <p>Nouveau cadeau !</p>
    {% endif %}
  </div>
</div>

{% endblock %}
